<!-- 5. output the animalType string, pet boolean and fierceness number to the page for all the animals -->
<ul>
  {{#each anims}}
    <li>
      <p>Type: {{this.animalType}}</p>
      <p>Pet: {{this.pet}}</p>
      <p>Fierceness: {{fierceness}}</p>
    </li>
  {{/each}}
</ul>
