* {
  box-sizing: border-box;
  text-align: center;
}

/* Fill in your CSS Below */


body {

}

header {

	background: #ccc;
	padding: 20px;
	margin-bottom: 20px;
	color: #333;
}

section {

}

#left {

}

#middle {

}

#right {

}

#full {

}

#division {

}

aside {

}

footer {

}
